{% extends 'base.html' %}

{% block content %}

<h1> About Food Pantry By RAAM  </h1>
<hr />
<p> 
    Here at RAAM we believe that real change begins within a  community itself. 
    RAAM was created to assist communities in tackling the issue of hunger with a 
    more “grass-roots” approach 
</p>
<br />
<p>
    <h4>What Makes RAAM Unique: </h4>
    RAAM is not a traditional food pantry, but its work is instrumental in helping pantries 
    get better access to more abundant and healthier food.It connects millions of home and 
    community gardeners around the country with their local pantries, making it easier for them to donate 
    their excess harvest to those in their community who are hungry. Its work focuses on how critical locally-sourced, 
    fresh food and sustained community engagement from gardeners aim to successfully combat hunger.
</p>


{% endblock %}