{% extends 'base.html' %} {% block content %}
<div>
  <div class="container">
    <div class="row">
      <h1>Our Mission</h1>
    </div>

    <div>
      <h4>
        “Here at RAAM we believe that real change begins within a community
        itself. RAAM was created to assist communities in tackling the issue of
        hunger with a more “grass-roots” approach.”
      </h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h1>About RAAM</h1>
    </div>

    <div>
      <p>
        RAAM is a web application that allows users to create and manage their
        own personal recipe book.
      </p>
      <p>
        RAAM is a project that was created by a group of students at the
        University of Waterloo.
      </p>
      <p>
        RAAM was created as a final project for the course Software Engineering
        at the University of Waterloo.
      </p>
      <p>RAAM was created by:</p>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div><h1 class="center">The Team</h1></div>
      </div>

      <!--   Team Section   -->
      <div class="row">
        <div class="col s6 m6">
          <div class="icon-block">
            <h3 class="center orange-text text-darken-1">Cahyl</h3>
            <h5 class="center">Front-End Engineer</h5>

            <p class="light">
              We did most of the heavy lifting for you to provide a default
              stylings that incorporate our custom components. Additionally, we
              refined animations and transitions to provide a smoother
              experience for developers.
            </p>
          </div>
        </div>

        <div class="col s6 m6">
          <div class="icon-block">
            <h3 class="center orange-text text-darken-1">Corey</h3>
            <h5 class="center">Back-End Engineer</h5>

            <p class="light">
              By utilizing elements and principles of Material Design, we were
              able to create a framework that incorporates components and
              animations that provide more feedback to users. Additionally, a
              single underlying responsive system across all platforms allow for
              a more unified user experience.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h3 class="center orange-text text-darken-1">Mario</h3>
            <h5 class="center">Front-End Engineer</h5>

            <p class="light">
              We have provided detailed documentation as well as specific code
              examples to help new users get started. We are also always open to
              feedback and can answer any questions a user may have about
              Materialize.
            </p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h3 class="center orange-text text-darken-1">Vernell</h3>
            <h5 class="center">Back-End Engineer</h5>

            <p class="light">
              We have provided detailed documentation as well as specific code
              examples to help new users get started. We are also always open to
              feedback and can answer any questions a user may have about
              Materialize.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row center">
      <h1>Contact Us</h1>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <p>Email: info@raam.com</p>
        <p>Phone: (519) 888-8888</p>
        <p>Address: 123 Fake Street, city, state 46215</p>
      </div>
      <div class="col s12 m6">
        <p>Twitter: info@raam.com</p>
        <p>Instagram: (519) 888-8888</p>
        <p>Facebook: 123 Fake Street, city, state 46215</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
