{% extends 'base.html' %} {% block content %}
<div>
  <div class="container">
    <div class="row">
      <h1>Our Mission</h1>
    </div>

    <div>
      <h4>
        “Here at RAAM we believe that real change begins within a community
        itself. RAAM was created to assist communities in tackling the issue of
        hunger with a more “grass-roots” approach.”
      </h4>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h1>About RAAM</h1>
    </div>

    <div>
      <p>
        RAAM is a web application that allows users "RAAMERS" to create and manage their
        own personal Public Pantry.
      </p>
      <p>
        RAAM's goal is to help communities tackle the issue of hunger that affects over 41 million Americans, including 12 million children.”
      </p>
      <p>
        RAAM is a project that was created by a group of students at the
        General Assembly.
      </p>
      <p>RAAM was created by:</p>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div><h1 class="center">The Team</h1></div>
      </div>

      <!--   Team Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <div class="center">
              <img
                style="width: 45%; border-radius: 50%"
                src="https://ca.slack-edge.com/T0351JZQ0-U027LLLM7UJ-eab10865c17a-512"
                alt=""
                srcset=""
              />
            </div>
            <h3 class="center orange-text text-darken-1">Cahyl</h3>
            <h5 class="center">Front-End Engineer</h5>

            <p class="light">
               We have provided detailed documentation as well as specific code
              examples to help new users get started. We are also always open to
              feedback and can answer any questions a user may have about
              Materialize.
            </p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <div class="center">
              <img
                style="width: 40%; border-radius: 50%"
                src="https://ca.slack-edge.com/T0351JZQ0-U02CE959ZS8-d6c3248c03f6-512"
                alt=""
                srcset=""
              />
            </div>
            <h3 class="center orange-text text-darken-1">Corey</h3>
            <h5 class="center">Back-End Engineer</h5>
            <p class="light">
               We have provided detailed documentation as well as specific code
              examples to help new users get started. We are also always open to
              feedback and can answer any questions a user may have about
              Materialize.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <div class="center">
              <img
                style="width: 45%; border-radius: 50%"
                src="https://ca.slack-edge.com/T0351JZQ0-U02C42NDY77-3af373ed0a7a-512"
                alt=""
                srcset=""
              />
            </div>
            <h3 class="center orange-text text-darken-1">Mario</h3>
            <h5 class="center">Front-End Engineer</h5>

            <p class="light">
              We have provided detailed documentation as well as specific code
              examples to help new users get started. We are also always open to
              feedback and can answer any questions a user may have about
              Materialize.
            </p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <div class="center">
              <img
                style="width: 45%; border-radius: 50%"
                src="https://ca.slack-edge.com/T0351JZQ0-U02CLMAUSUR-68fc22a5f240-512"
                alt=""
                srcset=""
              />
            </div>
            <h3 class="center orange-text text-darken-1">Vernell</h3>
            <h5 class="center">Back-End Engineer</h5>

            <p class="light">
              We have provided detailed documentation as well as specific code
              examples to help new users get started. We are also always open to
              feedback and can answer any questions a user may have about
              Materialize.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row center">
      <h1>Contact Us</h1>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <p>Email: info@raam.com</p>
        <p>Phone: (519) 888-8888</p>
        <p>Address: 123 Fake Street, city, state 46215</p>
      </div>
      <div class="col s12 m6">
        <p>Twitter: info@raam.com</p>
        <p>Instagram: @raam</p>
        <p>Tiktok: @raamofficial</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
