{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>raam.com</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="white">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo black-text"><img src="https://i.imgur.com/e8QVKVh.jpeg" width=60 height="55"></a></li>
                    <li><a href="{% url 'home' %}" class="center brand-logo orange-text darken-1 hide-on-med-and-down">RAAM</a></li>
                </ul>
                <ul class="right">
                  {% if user.is_authenticated  %}
                  <li><a href="{% url 'pantries' %}" class="black-text">All Pantries</a></li>
                  <li><a href="{% url 'foods_index' %}" class="black-text">View All Foods</a></li>
                  <li><a href="{% url 'pantries_create'%}" class="black-text">Add Pantry</a></li>
                  <li><a href="{% url 'foods_create' %}" class="black-text">Add Food</a></li>
                  <li><a href="{% url 'about' %}" class="black-text">About</a></li>
                  <li><a href="{% url 'logout' %}" class="black-text">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'pantries' %}" class="black-text">All Pantries</a></li>
                  <li><a href="{% url 'about' %}" class="black-text">About</a></li>
                    <li><a href="{% url 'login' %}" class="black-text">Login</a></li>
                    <li><a href="{% url 'signup' %}" class="black-text">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
      </nav>
    </header>
    <main>
        {% block content %} 
        {% endblock %}
    </main>
    <footer class="page-footer white">
      <div class="footer-copyright">
            <div class="container center black-text">
            © 2021 Copyright RAAM
            </div>
          </div>
    </footer>
  </body>
</html> 