* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

 main {
    flex: 1 0 auto;
    flex-grow: 1;
  }
      
footer {
    padding-top: 0;
    text-align: right;
    background-color: orange;
}
