* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  color: black;
}

main {
  flex: 1 0 auto;
  flex-grow: 1;
}

footer {
  padding-top: 0;
  text-align: right;
  background-color: orange;
}

a li {
  text-decoration: none;
  color: black;
}
.bar {
  margin: 0 auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}
.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
}
